[phases.setup]
nixPkgs = ["nodejs_20", "bun", "caddy"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["bun run build"]

[start]
cmd = "caddy run --config Caddyfile --adapter caddyfile 2>&1"
